* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.layers { 
    display: flex;
    align-items: center;
    justify-content: center;

    height: 100vh;

    background-color: #101820;
}

#mainCanvas {
    position: absolute;
    width: 1280px;
    height: 720px;

    scale: 0.5;
    image-rendering: pixelated;
    image-rendering: crisp-edges;
}

#fxCanvas {
    position: absolute;
    width: 1280px;
    height: 720px;

    scale: 0.5;
    image-rendering: pixelated;
    image-rendering: crisp-edges;
}